<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
  
            {% for message in messages %}
               <p>{{message}}</p>
            {% endfor %}
  
        {% endif %}
    {% endwith %}
    </head>
    <body>
        
        <form method = "POST" action="login_handle">
            <input type="email" name="email" placeholder="email"><br><br>
            <input type="password" name="password" placeholder="password"><br><br>
            <input type="submit"></input>
        </form>
    </body>
</html>